DB_HOST=localhost
DB_PORT=5433
DB_USER= tuUsuarioPostregres
DB_PASSWORD= tuclave
DB_NAME=TimeGoBetter

# Servidor
PORT=8080
GIN_MODE=debug
JWT_SECRET='tu_clave_secreta'
OPERATOR_KEY='tu_clave_operador'